$hover_color: #d0034c;

:host {
    display: flex;
    justify-content: center;

    .title {
        margin: 1.25rem;
        font-size: 38px;
        transition: color 0.3s ease;

        &:hover {
            cursor: pointer;
            color: $hover_color;
            transition: color 0.3s ease;
        }
    }
}
