<div class="header-container">
    <div class="back">
        <button mat-raised-button (click)="goToHomepage()">Back</button>
    </div>
    <div class="header">
        <h1>Clo 3D</h1>
    </div>
</div>
<div class="images">
    <div class="first-page">
        <img [src]="clo3dFirstPage.image">
        <p>{{clo3dFirstPage.label}}</p>
    </div>
    <div class="pages">
        <ng-container *ngFor="let page of clo3dCollection">
            <div>
                <img [src]="page.image">
                <p>{{page.label}}</p>
            </div>
        </ng-container>
    </div>
</div>