$hover_color: #d0034c;

:host {
    display: flex;
    align-items: center;
    flex-direction: column;

    .image:hover,
    .clo-image:hover {
        cursor: pointer;

        .text {
            color: $hover_color;
            transition: color 0.3s ease;
        }

        .bar,
        .clo-bar {
            background-color: $hover_color;
            transition: background-color 0.3s ease;
        }
    }

    .text {
        text-align: center;
        font-size: 24px;
        margin: 0;
    }

    .text {
        transition: color 0.3s ease;
    }

    .bar {
        height: 2px;
        width: 80%;
        margin: 1rem;
        background-color: white;
    }

    .image {
        aspect-ratio: 1 / 1;
        width: 250px;
        height: 250px;
    }

    .clo-image {
        aspect-ratio: 16 / 9;
        width: 40%;
        height: 280px;
    }

    .clo-bar {
        height: 2px;
        width: 60%;
        margin: 1rem;
        background-color: white;
    }

    .bar,
    .clo-bar {
        transition: background-color 0.3s ease;
    }
}
