$hover_color: #d0034c;

:host {
    .container {
        display: flex;
        align-items: center;
        flex-direction: column;

        &:hover {
            cursor: pointer;

            .text {
                color: $hover_color;
                transition: color 0.3s ease;
            }

            .image,
            .clo-image {
                transition: box-shadow 0.3s ease;
                box-shadow: 0 0 18px $hover_color;
            }

            .bar,
            .clo-bar {
                background-color: $hover_color;
                transition: background-color 0.3s ease;
            }
        }
    }

    .text {
        text-align: center;
        font-size: 24px;
        margin: 0;
    }

    .text {
        transition: color 0.3s ease;
    }

    .bar {
        height: 2px;
        width: 80%;
        margin: 1rem;
        background-color: white;
    }

    .image {
        aspect-ratio: 1 / 1;
        width: 350px;
        height: 350px;
    }

    .clo-image {
        aspect-ratio: 16 / 9;
        width: 600px;
        height: 350px;
    }

    .clo-bar {
        height: 2px;
        width: 60%;
        margin: 1rem;
        background-color: white;
    }

    .bar,
    .clo-bar {
        transition: background-color 0.3s ease;
    }
}
